body{
  font-family: sans-serif;
}

figure{
 float: left;
}

figcaption{
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
}

figure img{
 max-width: 400px;
}

abbr{
  font-weight: bold;
  font-style: italic;
  color: red;
}
  
  figure img{
    outline: 1px solid purple;
    outline-offset: 4px;
    margin: 8px;
  }

h1, h2{
  text-transform: uppercase;
  text-shadow: 3px 3px 1px white;
  border-bottom: 3px solid purple;
  color: purple;
  background-color: lightgrey;
}

h2:nth-of-type(2){
  clear: both;
}

blockquote{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-left: 3px solid purple;
  padding: 0.5em;
  background-color: lightgrey;
}

time[datetime]{
  background-color: purple;
  color: white;
}
